// sass for washington legislative web services
// jackson maxfield brown
// updated: 2 july 2017

// IMPORTS

// VARIABLES
$twilight: #1e2934
$offwhite: #fafaf9
$lightlightgray: #eeeff0
$midlightgray: darken($lightlightgray, 10%)
$middarkgray: #adaeaf
$darkgray: darken($midlightgray, 20%)
$darkdarkgray: #3a3a3b
$linen: darken($offwhite, 40%)
$highlightred: #d85565
$lightred: lighten($highlightred, 10%)
$highlightteal: #5cc4be
$lightteal: lighten($highlightteal, 10%)
$fontstandard: sans-serif

*
  margin: 0px
  padding: 0px

// FLEX
.flex-align-center
  display: flex
  align-items: center
  vertical-align: bottom

.flex-align-start
  display: flex
  align-items: flex-start

.flex-justify-between
  display: flex
  justify-content: space-between

.flex-justify-center
  display: flex
  justify-content: center

.flex-wrap
  flex-wrap: wrap

// FONT
.font-bigger
  font-family: $fontstandard
  font-size: 24px

.font-smaller
  font-family: $fontstandard
  font-size: 12px

.font-standard
  font-family: $fontstandard
  font-size: 16px

.font-heavy
  font-weight: bold

.font-light
  font-weight: lighter

.footer-link
  color: $offwhite
  text-decoration: none

  &:visited
    color: $offwhite
    text-decoration: none

  &:hover
    color: $linen

// CONTAINERS
.container-20
  width: 20%

.data-table
  box-shadow: 1px 1px 10px $middarkgray
  height: 60vh
  margin: 20vh auto 20vh auto
  overflow-y: scroll
  width: 60%

.data-element
  background-color: $lightlightgray
  border-bottom: 1px solid $darkdarkgray
  height: 40px
  width: 100%

  &:hover
    background-color: $midlightgray

.link-container
  border-bottom: 1px solid transparent
  margin: 20px 40% 20px 40%

  &:hover
    border-bottom: 1px solid $linen

// POSITIONING
.set-height-60
  height: 60vh

.shove-right-10
  margin-left: 10%

// EFFECTS
.transition-all-100
  -webkit-transition: all 100ms ease-in-out
  -moz-transition: all 100ms ease-in-out
  -o-transition: all 100ms ease-in-out
  transition: all 100ms ease-in-out

// SINGLE
#app
  background-color: $offwhite
  min-height: 100vh
  width: 100%

#footer
  background-color: $twilight
  color: $offwhite
  max-height: 30vh
  padding: 40px 0px 40px 0px
  width: 100%
